body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-container {
  background-color: lightblue;
  display: flex;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.header {
  width: 500px;
  align-content: center;
  justify-content: center;
  font-size: 18px;
}

.transaction-container {
  background-color: lightgray;
  display: flex;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.transaction {
  flex-direction: column;
  width: 500px;
  align-content: center;
  justify-content: center;
}
.transaction-container:nth-child(even) {
  background-color: white;
}